
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<head>

    <link rel="stylesheet" href="{% static '/css/styles.css' %}?{% now 'U' %}"  type="text/css" >
    <!-- Required meta tags always come first -->
    

    <!-- Bootstrap CSS -->
       <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
-->
    
    <title>Clothing Recomm</title>
</head>
<body>
    <header class = "jumbotron">
        <div class = "container">
            <div class="row align-items-center">

                <div class="col-12 text-center ">
                    <h1>Clothing Recommendation System</h1>
                </div>

            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4">
                <h3>Smart Shopping. <br> Learning from you.</h3>
            </div>
            <div class="col-sm-8 text-justify">
                <p> Nowadays, improving the customer's shopping journey through meaningful and personal
                    interactions is a challenge for e-commerces sites. Thus, Trying to offer you a personalized shopping experience and to save your time, we developed this smart tool that interact with you to learn your preferences based on your feedback.
                </p>
            </div>
        </div>

        <div class="row button-content-init align-items-center ">
            <div class="col-12 text-center">
                <a class="aDisable" href="{% url 'initgallery' %}">
                    <button type="button" class="btn btn-info btn-begin btn-lg">Begin</button>
                </a>
            </div>
        </div>

    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery first, then Popper.js, then Bootstrap JS.
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 -->
</body>
</html>