<!DOCTYPE html>
{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load fontawesome_5 %}

<html lang="en">
<head>
    {% fontawesome_5_static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}?{% now 'U' %}"  type="text/css" >
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="{% static '/js/likedislike.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    
    <title>Images Gallery</title>
</head>
<body>
    <header class = "jumbotron font-weight-bold">
        <div class = "container">
        <div class="row align-items-center">
            <div class="col-12 text-center text-white ">
                <h1>Let us know your opinion. Is there any skirt below that you like?</h1>
            </div>
        </div>
    </div>
    </header>

    <div class="container">
        <!--
        <div class="row row-header justify-content-center ">
            <h4> Let us know your opinion. Is there any skirt below that you like?
            </h4>
        </div>
        -->
        <div class="row row-content">
            {% for imagem in img_list %}
            <div class="col-sm-3">
               <div class="card">
                    <div class = "card-body">
                        <div class="row d-flex justify-content-center">
                            <a data-toggle="modal" data-target="#img00">
                                <img class="imgIn img-fluid" src= "{% static imagem %}">
                            </a>
                            <div id="img00" class="modal fade">
                                <div class="modal-dialog modal-lg" role="content">
                                    <div class="modal-content">
                                        <span data-dismiss="modal" class="close text-right">&times;</span>
                                        <img class="imgZoom align-self-center" src="{% static imagem %}" >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div id="btn0" class="btn-group btn-group-toggle" data-toggle="buttons" >
                                <label class="btn btn-success" onclick="addRelevant('{% static imagem %}');">
                                    <input type="radio" id="likeImg0" ><span class="fa fa-thumbs-up"></span>
                                </label>
                                <label class="btn btn-danger" onclick="addIrrelevant('{% static imagem %}');">
                                    <input type="radio" id="dislikeImg0" ><span class="fa fa-thumbs-down"></span>
                                </label>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            {% endfor %}
        </div>


    </div>

    <div class="footer ">
        <div class="row button-content align-items-center">
                <div class="col-12 text-center">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" id="sendList" href="javascript:sendList()">
                        See our recommendations
                    </a>
                </div>
            </div>
    </div>

</body>
</html>
