<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for imagem in img_list %}
<div class="col-sm-3 column-padding">
    <div class="card">
        <div class = "card-body">
            <div class="row d-flex justify-content-center">
                <a data-toggle="modal" data-target="#modal{{forloop.counter}}">
                    <img class="imgIn img-fluid" src= "{% static imagem %}">
                </a>
            </div>

            <div class="row d-flex justify-content-center">
                <div id="btn0" class="btn-group btn-group-toggle" data-toggle="buttons" >
                    <label class="btn btn-success" onclick="addRelevant('{% static imagem %}');">
                        <input type="radio" id="likeImg0" ><span class="fa fa-thumbs-up"></span>
                    </label>
                    <label class="btn btn-danger" onclick="addIrrelevant('{% static imagem %}');">
                        <input type="radio" id="dislikeImg0" ><span class="fa fa-thumbs-down"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>